<div class="row">
	<div class="span4">
		<h3>Založte nový účet prosím</h3>
		<%= form_for @user do |u| %>
			<p>Jméno</p>
			<%= u.text_field :name %>
			<p>Email</p>
			<%= u.text_field :email %>
			<p>Heslo</p>
			<%= u.text_field :password %>
			<%= u.submit class: "btn", value: "Založit účet" %>
		<% end %>
	</div>
</div>