<h2>Uzivatelske udaje</h2>
<div class="row">
	<div class="span4">
		<h4>Kontaktni udaje:</h4>
		<%= form_for @user, url: user_path(@user) do |u| %>
			<%= u.label :Jméno %>
			<%= u.text_field :name, value: @user.name %>
			<%= u.label :Email %>
			<%= u.text_field :email, value: @user.email %>
			<%= u.label :Telefon %>
			<%= u.text_field :phone, value: @user.phone %>
	</div>
	<div class="span4">
		<h4>Adresa:</h4>
			<%= u.label :Ulice %>
			<%= u.text_field :street, value: @user.street %>
			<%= u.label :Město %>
			<%= u.text_field :city, value: @user.city %>
			<%= u.label :PSČ %>
			<%= u.text_field :zip_code, value: @user.ic %>
	</div>
	<div class="span4">
		<h4>Fakturacni udaje:</h4>
			<%= u.label :IČ %>
			<%= u.text_field :ic, value: @user.ic %>
			<%= u.label :DIČ %>
			<%= u.text_field :dic, value: @user.dic %>
	</div>
	<div class="span12">
		<%= u.submit "Uložit údaje", class: "btn btn-success" %>
		<% end %>
	</div>
</div>