<div class="row">
	<div class="span6">
		<%= form_for @desk do |d| %>
			<%= d.label :Název %>
			<%= d.text_field :name %>
			<%= d.label :Email %>
			<%= d.text_field :desks_mailbox %>
			<%= d.label :Upozorňovat %>
			<%= d.text_field :notificate %>
			<br>
			<%= d.submit "Ulozit udaje", class: "btn btn-success" %>
		<% end %>
		<%= link_to "Smazat podporu", desk_path(@desk), method: "delete" %>
	</div>
</div>