<div class="row">
	<div class="span12">
		<h2>Podpora <%= @desk.name %></h2>
		<h3>Nevyřízené tickety</h3>
		<table class="table table-bordered">
			<tr>
				<th>Predmet</th>
				<th>Cislo ticketu</th>
				<th>Odesilatel</th>
				<th>Prijato</th>
				<th>Smazat</th>
			</tr>
			<% @unresolved_requests.each do |r| %>
				<tr>
					<td><%= link_to r.subject, request_url(r.id) %></td>
					<td><%= r.id %></td>
					<td><%= r.from %></td>
					<td><%= r.created_at %></td>
					<td><%= link_to "X", request_url(r.id), method: "delete" %></td>
				</tr>
			<% end %>
		</table>
		<h3>Vyřízené tickety</h3>
		<table class="table table-bordered">
			<tr>
				<th>Predmet</th>
				<th>Cislo ticketu</th>
				<th>Odesilatel</th>
				<th>Prijato</th>
				<th>Smazat</th>
			</tr>
			<% @resolved_requests.each do |r| %>
				<tr>
					<td><%= link_to r.subject, request_url(r.id) %></td>
					<td><%= r.id %></td>
					<td><%= r.from %></td>
					<td><%= r.created_at %></td>
					<td><%= link_to "X", request_url(r.id), method: "delete" %></td>
					
				</tr>
			<% end %>
		</table>
	</div>
</div>

<%= link_to "Upravit podporu", edit_desk_path(@desk) %>