<div class="row">
	<div class="span6">
		<%= form_for @desk do |d| %>
			<p>Nazev podpory:</p>
			<%= d.text_field :name %>
			<p>Upozornovat:</p>
			<%= d.text_field :notificate %>
			<%= d.submit "Ulozit udaje" %>
		<% end %>
		<%= link_to "Smazat podporu", desk_path(@desk), method: "delete" %>
	</div>
	<div class="span6">
		<h1>Statistiky:</h1>
	</div>
</div>